<div fxLayout="row" fxLayoutAlign="space-around" class="header">
  <img
    src="assets/images/brand-insights@3x.svg"
    alt="Insights logo"
    class="logo"
  />

  <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="16px">
    <img
      src="assets/images/vy5f2r.jpg"
      alt="User picture"
      class="user-picture"
    />
    <div fxLayout="column" fxLayoutAlign="start center">
      <span class="greeting">Olá, {{ userName }}!</span>
      <span class="email">{{ userEmail }}</span>
    </div>

    <mat-divider class="feed-title-divider"></mat-divider>

    <h2 class="feed-title">Feed de <strong>Insights</strong></h2>
  </div>

  <button
    mat-icon-button
    color="accent"
    aria-label="Create new Insight"
    class="create-btn"
    routerLink="create-card"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>
