@use 'sass:map';
@use '@angular/material' as mat;

.create-btn {
  margin-left: 24px;
}

.email {
  color: white;
  opacity: 70%;
  font-family: monospace;
  font-size: smaller;
}

.feed-title {
  color: deeppink;
  font-weight: 300;
  font-style: italic;
}

.feed-title-divider {
  background-color: white;
  height: 1px;
  opacity: 25%;
  width: 24px;
}

.greeting {
  color: white;
  font-size: large;
}

.header {
  margin-top: 16px;
}

.logo {
  width: 64px;
  height: 64px;
}

.user-picture {
  border: 2px solid deeppink;
  border-radius: 100%;
  width: 64px;
  height: 64px;
}
