<mat-toolbar class="toolbar">
  <button
    mat-icon-button
    aria-label="Return to home"
    color="accent"
    routerLink=""
  >
    <mat-icon>arrow_back</mat-icon>
  </button>

  <div
    fxLayout="column"
    fxLayoutAlign="start center"
    class="toolbar-title-container"
  >
    <span class="toolbar-title">Criar</span>
    <span class="toolbar-title"><strong>Insight</strong></span>
  </div>
</mat-toolbar>

<div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="16px">
  <form (ngSubmit)="createCard()">
    <mat-card class="form-card">
      <mat-card-content>
        <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="32px">
          <mat-form-field
            appearance="standard"
            floatLabel="always"
            class="form-field"
            color="accent"
          >
            <mat-label class="form-label">Insight</mat-label>
            <textarea
              #text
              name="text"
              [(ngModel)]="textInput"
              matInput
              rows="6"
              placeholder="Escreva aqui o seu insight..."
              required
            >
            </textarea>
            <mat-error *ngIf="!text.validity.valid"
              >Campo obrigatório</mat-error
            >
            <mat-hint align="end" class="form-hint"
              >limite de caracteres: 400</mat-hint
            >
          </mat-form-field>

          <mat-form-field
            appearance="standard"
            floatLabel="always"
            class="form-field"
            color="accent"
          >
            <mat-label class="form-label">Categorias</mat-label>
            <mat-chip-list #chipList aria-label="Add tags to card">
              <mat-chip
                *ngFor="let tag of tagsInput"
                (removed)="removeTag(tag)"
                class="chip"
              >
                {{ tag }}
                <button matChipRemove>
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip>

              <input
                placeholder="Adicione categorias (opcional)..."
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="true"
                (matChipInputTokenEnd)="addTag($event)"
              />
            </mat-chip-list>
          </mat-form-field>
        </div>
      </mat-card-content>
    </mat-card>

    <button
      mat-raised-button
      color="accent"
      class="publish-btn"
      type="submit"
      [disabled]="!text.validity.valid || loading"
      fxLayout="column"
      fxLayoutAlign="start center"
    >
      <span *ngIf="!loading; else loadingBtn">Publicar</span>
      <ng-template #loadingBtn>
        <mat-spinner color="accent" diameter="25" class="spinner"></mat-spinner>
      </ng-template>
    </button>
  </form>
</div>
