.form-hint {
  color: #a0a0a0;
}

.form-field {
  width: 100%;
}

.form-label {
  color: black;
  font-size: large;
  font-style: italic;
  font-variant: all-small-caps;
}

.form-card {
  margin-top: 16px;
  width: 364px;
}

.publish-btn {
  font-style: italic;
  font-variant: all-small-caps;
  position: fixed;
  top: calc(100vh - 48px);
  width: 396px;
}

.spinner {
  margin: 6px;
}

.toolbar {
  background: url('../../../assets/images/background.svg');
}

.toolbar-title {
  color: deeppink;
  line-height: 16px;
  font-size: smaller;
  font-style: italic;
  font-variant: all-small-caps;
  font-weight: 300;
}

.toolbar-title-container {
  margin: 0 128px;
}
