<mat-card class="card">
  <mat-card-content fxLayout="row" fxLayoutAlign="center start">{{
    text
  }}</mat-card-content>
  <mat-card-footer
    class="card-footer"
    fxLayout="row"
    fxLayoutAlign="center start"
    fxLayoutGap="8px"
  >
    <mat-chip-list aria-label="Card tags">
      <mat-chip *ngFor="let tag of tags" class="card-tag" color="accent">{{
        tag
      }}</mat-chip>
    </mat-chip-list>
  </mat-card-footer>
</mat-card>
