.card {
  width: 350px; // 414px - 2*16 (border) - 2*16 (padding)
}

.card-footer {
  margin-bottom: -8px;
}

.card-tag {
  background-color: white;
  border: 2px solid #e3e3e3;
  border-radius: 4px;
  color: deeppink;
  font-size: smaller;
  font-variant: all-small-caps;
}
