.chip {
  font-size: smaller;
  font-variant: all-small-caps;
}

.load-btn {
  color: #b3b3b3;
}

.load-container {
  margin-bottom: 96px !important;
}

.load-label {
  color: black;
  opacity: 70%;
}

.progress-bar {
  position: fixed;
  top: calc(100vh - 4px);
  width: 414px;
}

.search-field {
  width: 90%;
}

.search-field-container {
  width: 400px;
}

.search-icon {
  color: #a0a0a0;
}
