<div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="16px">
  <mat-list fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="8px">
    <app-card
      *ngFor="let card of cards"
      [text]="card.text"
      [tags]="card.tags"
    ></app-card>
  </mat-list>

  <div fxLayout="column" fxLayoutAlign="start center" class="load-container">
    <button
      mat-icon-button
      aria-label="Load more insights"
      class="load-btn"
      (click)="loadMore()"
      [disabled]="loading"
    >
      <mat-icon>more_horiz</mat-icon>
    </button>
    <span class="load-label">Toque para exibir mais insights</span>
  </div>

  <div
    fxLayout="column"
    fxLayoutAlign="start center"
    class="search-field-container"
  >
    <mat-form-field appearance="outline" color="accent" class="search-field">
      <mat-label>Pesquise por categorias...</mat-label>
      <mat-chip-list #chipList aria-label="Filter cards by tag">
        <mat-chip
          *ngFor="let tag of filterTags"
          (removed)="removeFilterTag(tag)"
          class="chip"
        >
          {{ tag }}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>

        <input
          placeholder="Categoria..."
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="true"
          (matChipInputTokenEnd)="addFilterTag($event)"
        />
      </mat-chip-list>
      <mat-icon matSuffix class="search-icon">search</mat-icon>
    </mat-form-field>
  </div>

  <mat-progress-bar
    mode="indeterminate"
    *ngIf="loading"
    color="accent"
    class="progress-bar"
  ></mat-progress-bar>
</div>
